.landingContainer {
  border: 1px solid red;
  height: 100vh;
  background: rgb(94, 206, 184);
  background: linear-gradient(
    68deg,
    rgba(94, 206, 184, 1) 0%,
    rgba(62, 172, 168, 1) 35%,
    rgba(7, 108, 128, 1) 100%
  );
  padding: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & > .landingCircle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    color: white;
    font-weight: 800;
    font-family: "Mynerve", cursive;
    // padding: 5%;
    border-radius: 50%;
    width: 70vh;
    height: 70vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    & > img {
      width: 25%;
      height: 25%;
      padding: 1rem;
    }
  }
}
